<h1>Home#index</h1>
<div id="root"></div>
<script data-turbolinks-eval=always>
  window.__TODOS__ = <%= raw @todos.to_json %>;
</script>
<script type="text/javascript" src="/assets/home.min.js"></script>
